<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lab_1</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<h1>User Information</h1>
		<form action="lab_1.php" method="post">
			<input type="text" name="firstname" placeholder="Firstname"/></br>
			<input type="text" name="lastname" placeholder="Lastname"/></br>
			<input type="text" name="address" placeholder="Address"/></br>
			<input type="text" name="cities" placeholder="City"/></br>
			<input type="text" name="states" placeholder="States"/></br>
			<input type="text" name="zip" placeholder="Zip Code"/></br>
			<input type="text" name="email" placeholder="Email"/></br>
			<input type="text" name="phone" placeholder="Phone Number"/></br>
			<input type="text" name="url" placeholder="URL here"/></br>
			<input type="submit" class='button'>
		</form>
	</body>
</html>